body
{
    background-color: #edeef0;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration-line: none;
}
header
{
    position: absolute;
    width: 100%;
    background: #4a76a8;
    height: 42px;
    box-sizing: border-box;
    border-bottom: 1px solid #4872a3;

}

.headerInner
{
    display: block;
    width: 980px;
    vertical-align: center;
    align-content: center;
    margin: auto;
}
#logo
{
    display: inline-block;
    margin: 11px 10px 0 0;
}
.search
{

    width: 230px;
    height: 28px;
    Display: block;
    margin: -27px 164px 150px;
    background-color: rgba(34,75,122,100);
    border-radius: 20px;
}
.search img
{
    position: static;
    display: inline-block;
margin-left: 10px;
    margin-top: 8px;
}
.search input
{
    position: absolute;
    display: inline-block;
    padding-top: 7px;
    padding-left: 10px;
    color: #8fadc8;
    outline:none;
    background-color: rgba(101,197,31,0);
    border: 0px black;
}
.content
{
    display: flex;
    margin-top: -142px;
}
.leftCont
{
    margin-top: 15px;
    margin-right: 15px;
    width: 149px;
    height: 390px;
}

.menu
{

    display: flex;
    flex-flow: column wrap;

}
.menu >a
{
    font-size: 14px;
    text-decoration-color: #28549b;
    color: #28549b;
    margin-top: 10px;
}
.menu div
{
    margin-top: 25px;
}
.menu div a
{
    font-size: 13px;
    color: #939699;
}
.centCont
{
    margin-top: 15px;
    height: 794px;
    width: 550px;
    background-color: #ffffff;
    border: 1px #e3e4e8 solid;
}
.Title
{
    width: 100%;
    height: 54px;
    background-color: #fafbfc;
    border-bottom: 1px #e3e4e8 solid;
    display: flex;
}
.Title p
{
    padding-left: 20px;
}
.step1
{
    display: flex;
    flex-flow: row;
    list-style-type: none;
    margin-left: -40px;
}
.mainCont
{
    display: flex;
    padding: 20px;
    font-size: 14px;
}
.rightCont
{
    margin-top: 15px;
    margin-left: 15px;
    height: 283px;
    width: 230px;
    background-color: #ffffff;
    border: 1px #e3e4e8 solid;
}